@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0;
  }
  100% {
    box-shadow: 0 0 10px 10px;
  }
}

.prmyth {
  outline: none;
  border: 2px solid #0cceb2;
  background: #0cceb2;
  animation-name: unglow;
  animation-duration: 1s;
  padding: 10px;
  margin: 15px;
  cursor: url("../page-decor/cursor.png"), auto;
  color: #252525;
  font-family: "quicksand", sans-serif;
}
.prmyth:hover {
  border: 2px solid #0cceb2;
  background: #252525;
  padding: 10px;
  margin: 15px;
  cursor: url("../page-decor/cursor.png"), auto;
  animation-name: glow;
  animation-duration: 1s;
  box-shadow: 0 0 10px 10px;
  box-shadow: #0cceb2;
  color: #0cceb2;
  font-family: "quicksand", sans-serif;
}
.prlnrn {
  border: 2px solid rgb(255, 144, 4);
  background: rgb(255, 144, 4);
  animation-name: unglow;
  animation-duration: 1s;
  padding: 10px;
  margin: 15px;
  cursor: url("../page-decor/cursor.png"), auto;
  color: #252525;
  font-family: "quicksand", sans-serif;
  outline: none;
}
.prlnrn:hover {
  border: 2px solid rgb(255, 144, 4);
  background: #252525;
  padding: 10px;
  margin: 15px;
  cursor: url("../page-decor/cursor.png"), auto;
  animation-name: glow;
  animation-duration: 1s;
  box-shadow: 0 0 10px 10px;
  box-shadow: rgb(255, 144, 4);
  color: rgb(255, 144, 4);
  font-family: "quicksand", sans-serif;
}
